body {
    margin: 0px;
    padding: 0px;
}

h5{
    align-items: center;
}

p{
    align-items: center;
}

a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    background-color: rgb(40, 49, 95);
}

#header{
    box-sizing: border-box;
    height: 100px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(40, 49, 95);
}

#menu li{
    padding: 1rem;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgb(40, 49, 95);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

.logo {
    font-size: 28px;
    font-weight: bold;
    line-height: 68px; 
}

.elemento{ 
    width: 100%;
    max-width: 800px;
    height: 150px;
    margin: 0 auto;   
    border: 10px solid black;
}

.titulo{
    text-align: center;
}
#card-group{
    width: 50px;
    height: 50px;
    border-radius: 5%;
    align-items: center;
}

.cards{
    width: 50px;
    height: 50px;
    border-radius: 5%;
    align-items: center;
    background-color: rgb(6, 243, 227); 
}

#rodape {
    margin-top: 5px;
    padding: 1rem;
    background-color:  rgb(40, 49, 95);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  
  .p-rodape {
    width: 200px;
  }
  
  .link-rodape {
    background-color: rgb(40, 49, 95);
    padding: 5px;
    margin: 10px;
    color: #fbfbfb
  }

  .carousel{
    text-align: center;
    margin: 0 auto; 
    background-color: rgb(6, 243, 227);
  }
  



  