body {
    margin: 0px;
    padding: 0px;
}


a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    background-color: rgb(40, 49, 95);
}

#header{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(40, 49, 95);
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
    padding: 5px;
    margin: 10px;
}
#menu a{
    display: block;
    padding: .5rem;
    padding: 5px;
    margin: 10px;
    align-items: flex-end;
}

.logo {
    color:white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px; 
}

.elemento{ 
    width: 100%;
    max-width: 800px;
    height: 150px;
    margin: 0 auto;   
    border: 10px solid black;
}

.mesaredonda{
    align-items: center;
    background-color: rgb(6, 243, 227); 
}

.titulo{
    text-align: center;
}
#card-group{
    width: 50px;
    height: 50px;
    border-radius: 5%;
    align-items: center;
}

.cards{
    width: 50px;
    height: 50px;
    border-radius: 5%;
    align-items: center;
    background-color: rgb(6, 243, 227); 
}

#rodape {
    margin-top: 5px;
    background-color:  rgb(40, 49, 95);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  
  .p-rodape {
    width: 200px;
  }
  
  .link-rodape {
    background-color: rgb(40, 49, 95);
    padding: 5px;
    margin: 10px;
    color: #fbfbfb
  }

  .carousel{
    text-align: center;
    margin: 0 auto; 
    background-color: rgb(6, 243, 227);
  }




  