body {
    margin: 0px;
    padding: 0px;
}


a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    background-color: rgb(40, 49, 95);
}

#header{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(40, 49, 95);
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a{
    display: block;
    padding: .5rem;
}

.logo {
    color:white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
    
}

.elemento{ 
    width: 100%;
    max-width: 800px;
    height: 150px;
    margin: 0 auto;
   
    border: 1px solid black;
}

.mesaredonda{
    align-items: center;
    background-color: rgb(6, 243, 227); 
}

.titulo{
    text-align: center;
}

.cards{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    align-items: center;
    background-color: rgb(6, 243, 227); 
}


  